@font-face {
    font-family: outfit;
    src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: young-serif;
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

/* colors*/
:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
}

body {
    background-color: var(--stone-100);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2 {
    font-family: young-serif;
    font-weight: 400;
    color: var(--brown-800);
}

h3, p, li {
    font-family: outfit;
    font-weight: 400;
    color: var(--stone-600);
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
   
}

main article {
    box-sizing: border-box;
    width: 46rem;
    /* margin: clamp(0px, 1vw, 7.7rem); */
    padding: 2.4rem;
    background-color: var(--white);
    border-radius: 1rem;
}

main article header img {
    width: 100%;
    border-radius: 1rem;
}

main article header h1 {
    font-size: 2.5rem;
    margin-top: 1.3rem;
    color: var(--stone-900);
}

hr {
    margin: 1.7rem 0rem;
    /* border-color: var(--stone-150); */
    border-top: 1px solid var(--stone-150);
}

/* main article .ingredients, .instructions  {
    border-bottom: 1px solid var(--stone-150); 
} */

.time {
    background-color: var(--rose-50);
    border-radius: 1rem;
    height: auto;
    line-height: 1.7rem;
    margin: 1.8rem auto;
}
.time ul {
    padding-left: 2.6rem;
    padding-bottom: 1.6rem;
    font-size: .9rem;
}
.time li {
    padding-left: 1rem;
}
.time h3 {
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: 0.5rem;
    color: var(--rose-800);
    font-weight: 700;
}


.ingredients {
    line-height: 1.7rem;
}
.ingredients ul {
    margin-left: 1.3rem;
    margin-top: 0.7rem;
}
.ingredients li {
    padding-left: 1rem;
}


.instructions ol {
    margin-top: 0.7rem;
    margin-left: 1.3rem;
}
.instructions li {
    margin-bottom: .8rem;
    padding-left: 1rem;
}
.instructions li::marker {
    color: var(--brown-800);
    font-weight: 700;
}


.nutrition table {
    font-family: outfit;
    color: var(--stone-600);
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.nutrition table tr td {
    padding: 0.7rem 1.8rem;
}
.nutrition table tr td span {
    color: var(--brown-800);
    font-weight: 700;
}
.nutrition table tr:not(:last-child) {
    border-bottom: 1px solid var(--stone-150);
}
.nutrition p {
    margin: 1rem 0rem;
}


.attribution {
    font-family: outfit;
    font-size: .9rem;
    text-align: center;
    color: hsl(228, 45%, 44%);
    margin-top: 3rem;
}

/* mobile desing */
@media (max-width: 768px) {
    main  {
        width: 100%;
        height: auto;
        margin: 0 auto;
        box-sizing: border-box;
    }

    main article header p {
        padding-left: 1.6rem;
    }
    main article header img {
        max-width: 100%;
        height: auto;
        border-radius: 0;
    }
    main article {
        padding: 0;
        padding-bottom: 2rem;
    }
    main article h1, section {
        padding: 0rem 1.6rem;
    }
    main article .time {
        width: 70%;
    }

    main article hr {
        margin: 1.7rem 1.6rem;
    }

    main article .attribution {
        font-family: outfit;
        text-align: center;
        margin: 1rem auto;
        color: hsl(228, 45%, 44%);
    }

}